
name: "The Watcher - Security Scan"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  scan:
    name: Security Scan (Trivy)
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Mise à jour en v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'json'
          output: 'trivy-report.json'
          severity: 'CRITICAL,HIGH'
          exit-code: '1'

      - name: Upload Scan Report
        if: always() 
        uses: actions/upload-artifact@v4 # Mise à jour en v4 pour corriger l'erreur de l'image
        with:
          name: security-report
          path: trivy-report.json
          